# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y compilados
node_modules/
/node_modules
dist/
dist-ssr/
/public/build
/vendor/

# Entornos y variables
.env
.env.backup
.env.production
*.local

# Laravel y almacenamiento
.phpunit.result.cache
/.phpunit.cache
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/auth.json
_ide_helper.php
Homestead.json
Homestead.yaml

# Editores y Sistema Operativo
.vscode/*
!.vscode/extensions.json
.idea
/.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.codex
/.cursor/
/.nova
/.zed
.phpactor.json